figcaption {
  //background-color: #222;
  background-color: $grey-dk-200;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

a[href^="mailto"]::before {
  content: "📧 ";
}

a[href^="tel"]::before {
  content: "📞 ";
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}
